.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}npm 

.App-link {
  color: #61dafb;
}

.flex{
  margin: 0 auto;
  display: flex;
  background-color: rgba(100, 100, 100, .5);
  width: 33%;
  height: 500px;
}

#templatelist{
  background-color: rgba(100, 200, 100, .5);
  width: 66%;
  overflow-y: scroll;
}

#toolbar{
  background-color: yellow;
  width: 100% 
}

#toolbar p{
  margin: 0;
}

@charset "utf8";

*,*:after,
*:before,html
	{box-sizing:border-box}

a{text-align:center;text-decoration:none}

body{
	font-family:Tahoma,Geneva,sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight: 500;
	}

body,ol{margin:0;padding:0}
ol{list-style-type:none}

.menu{
	width:100%;
	padding:0 16px;
	display:block;
	position:relative
	}

.menu > ol:first-child{
	width:100%;
	display:flex;
	position:relative;
	flex-flow:row wrap;
	justify-content:center
	}

.menu-item{
	width:150px;
	position:relative;
	perspective:100%;
	cursor:pointer
	}

.menu-item a{
	width:100%;
	padding:16px 0;
	display:block;
	position:relative;
	color:#fff;
	border-radius:4px;
	transition:all .5s ease;
	transform-style:preserve-3d
	}

.menu-item a:before{
	width:100%;
	padding:16px 0;
	display:block;
	position:absolute;
	color: #fff;
	font-weight: bold;
	border-radius:4px
	}

.menu > ol:first-child > .menu-item{display:block}

.menu > ol:first-child > .menu-item > a
	{background: gold; box-shadow:0 8px 6px -6px #595959}

.menu > ol:first-child > .menu-item:nth-of-type(2) > a,
.menu > ol:first-child > .menu-item:nth-of-type(4) > a
	{border-left:1px solid #fff;border-right:1px solid #fff}

.menu > ol:first-child > .menu-item > a:before
	{background:gold ;bottom:90%;transform:rotateX(-90deg) translate3d(0,0,75px)}

.menu > ol:first-child > .menu-item:nth-of-type(1) > a:before{content:"Home"}
.menu > ol:first-child > .menu-item:nth-of-type(2) > a:before{content:"About"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > a:before{content:"Decorate"}
.menu > ol:first-child > .menu-item:nth-of-type(4) > a:before{content:""}
.menu > ol:first-child > .menu-item:nth-of-type(5) > a:before{content:"Meet IRL"}

.menu > ol:first-child > .menu-item:nth-of-type(3) > a:after,
.menu > ol:first-child > .menu-item:nth-of-type(4) > a:after{
	content:"\0025BE";
	width:100%;
	padding:30px 0 0 0;
	top:0;
	display:block;
	position:absolute;
	color:#fff;
	font-size:20px;
	text-align:center
	}

.menu > ol:first-child > .menu-item:hover > a{transform:rotateX(90deg)}

.menu > ol:first-child > .menu-item:nth-of-type(3):hover > a:after,
.menu > ol:first-child > .menu-item:nth-of-type(4):hover > a:after
	{content:"\0025B4";color:#000;transform:rotateX(-90deg) translate3d(0,0,75px)}

.sub-menu{
	background:#fff;
	width:100%;
	display:none;
	position:absolute;
	top:51px;
	z-index:99;
	border-top:1px solid #fff
	}

.sub-menu > .menu-item:nth-of-type(1){animation:fadein-down .5s .2s ease both}
.sub-menu > .menu-item:nth-of-type(2){animation:fadein-down .7s .2s ease both}
.sub-menu > .menu-item:nth-of-type(3){animation:fadein-down .9s .2s ease both}

@keyframes fadein-down{
	from{display:none;opacity:0;transform:translateY(-10px)}
	to{display:block;opacity:1;transform:translateY(0)}
	}

.sub-menu > .menu-item > a{background: gold}

.sub-menu > .menu-item:nth-of-type(2) > a
	{border-top:1px solid #fff;border-bottom:1px solid #fff}

.sub-menu > .menu-item > a:before
	{background:gold;top:0}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item > a:before{transform:rotateY(-90deg) translate3d(0,0,75px)}
.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(1) > a:before{content:"Bedroom"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(2) > a:before{content:"Living Room"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(3) > a:before{content:"Bathroom"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:hover > a{transform:rotateY(90deg)}

.menu > ol:first-child > .menu-item:nth-of-type(4) > .sub-menu > .menu-item > a:before{transform:rotateY(90deg) translate3d(0,0,75px)}
.menu > ol:first-child > .menu-item:nth-of-type(4) > .sub-menu > .menu-item:nth-of-type(1) > a:before{content:"Store Locator"}
.menu > ol:first-child > .menu-item:nth-of-type(4) > .sub-menu > .menu-item:nth-of-type(2) > a:before{content:"Top Picks"}
.menu > ol:first-child > .menu-item:nth-of-type(4) > .sub-menu > .menu-item:nth-of-type(3) > a:before{content:"Reviews"}
.menu > ol:first-child > .menu-item:nth-of-type(4) > .sub-menu > .menu-item:hover > a{transform:rotateY(-90deg)}

.menu > ol:first-child > .menu-item:hover > .sub-menu{display:block}

@media screen and (min-width:321px) and (max-width:799px){
	.menu{width:320px;margin:auto}
	}

@media (max-width:799px){
	.menu > ol:first-child > .menu-item{width:100%}
	.menu > ol:first-child > .menu-item > a{box-shadow:none}
	
	.menu > ol:first-child > .menu-item:nth-of-type(2) > a,
	.menu > ol:first-child > .menu-item:nth-of-type(4) > a
		{border:1px solid #fff;border-left:none;border-right:none}
	
	.sub-menu > .menu-item{margin:auto}
}

.side-bar{
	width: 16em;
	height: auto;
	margin: 4em auto 0;
	font-size: 1em;
	line-height: 2em;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
/*	text-decoration: none;
	border: none;*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: -13em;
	padding-top: 100px;
}
.side-ul{
	list-style: none;
}
.side-li{
	display: block;
	background: #333;
	height: 6em;
	padding: 1em 1.5em;
	position: relative;
	transition: transform .5s,background-color .5s ,color 0.5s;
}
.side-li:nth-child(1){
	background:red;
}
.side-li:nth-child(2){
	background:orange;
}
.side-li:nth-child(3){
	background:gold;
}
.side-li:nth-child(4){
	background:green;
}
.side-li:nth-child(5){
	background:blue;
}
.side-li:nth-child(6){
	background:purple;
}
.side-li:hover{
	transform: translateX(10em);
}
a{
	display: block;
	color: white;
	text-decoration: none;
}
.spam{
	display: block;
	position: absolute;
	font-size: 1.222222222222222em;
	line-height: 2em;
	height: 2em;
	top: 0;
	bottom: 0;
	margin: -5px 2px;
	padding: 1em 1.5em;
	right: -1em;
}